<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Subject</title>
        <link rel="stylesheet" href="/css/shared.css">
    <link rel="stylesheet" href="../../icon/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/navExplore/subject/style.css">
   


</head>
<body> 

     <!---------------------------header start--------------------- -->

         <header class="header-section">
                    <!---------------------------quesiton pupof menu_--------------------- -->
        
                 
                  <!-- other website content -->
                  <!-- navigaiton menu top browser -->
                  <div class="nav-info">
                              <!---------------------------logo or brand_--------------------- -->
            
                  {{!-- <div class="main-logo-container"><a href="../"><img src="/images/html/logo.png" alt="QnA-logo"></a></div> --}}
                  <div class="main-logo-container"><a href="../../" style="text-decoration:none"><h1 style="font-size:3rem">QNA</h1></a></div>
            
                         <!---------------------------nav bar ko buttons--------------------- -->
            
                  <div class="btn-search-collection">
                            
            
                     
                     <!---------------------------question search input_--------------------- -->
                    <div class="search-box-container">
                     <form action="/test" method="get" class="searchForm">
                    <i class="fa fa-search search-icon" aria-hidden="true"></i>
                      <input type="text" name="search" placeholder='search' id="{{this.token}}"  autocomplete="off" class="question-search-box">
                     
                      </form>
                      <div class="searchOutput">
                          <ul class="searchOutput_lists">
                          </ul>
                      </div>
                      </div>
            
                              <!---------------------------add question btn_--------------------- -->
                        <div class="addquestion-Btn-Container">      
                      <a href="#" class="Add-question-button" id="addQuestionBtn">Add Question<i class="fa fa-plus" aria-hidden="true"></i></a>
                      </div>
            
                              <!---------------------------responsive nav ko button start--------------------- -->
                      <div class="small-nav">
                          <div class="small-internal">
                          <div class="bar1"></div>
                          <div class="bar2"></div>
                          <div class="bar3"></div>
                      </div>
                   
                      </div>
                <!---------------------------responsive nav ko button end--------------------- -->
            
                  </div>
                 
            </div>
            <div class="nav-container">
            <!---------------------------navigation start--------------------- -->
            
            
               <nav class="main-navs">
            
              <ul class="main__nav--lists">
                  <li class="main__nav--list" ><a href="../../sub-main{{token}}" id="select"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                  <li class="main__nav--list" ><a href="../notifications/{{token}}"  id="{{token}}" class="menu-red"><i class="fa fa-bell notification__icon" aria-hidden="true" id="bell-notification"></i>Notification</a></li>
                  <li class="main__nav--list"><a href="/navExplore/profiles/{{token }}"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
                  <li class="main__nav--list Logout"  id="more-option"><i class="fa fa-caret-down" id="moreoption" aria-hidden="true"></i>
                  <div class="moreOption-list" >
                <a href="/user/logout/{{token }}">Logout</a>
                
                  </div>
                  
                  </li>

              </ul>
            
            </nav>
            <!---------------------------navigation end--------------------- -->
            </div>
            
            </header>
<!------header end----------------------->

<!---------------------------main-section start--------------------- -->

  <main class="subject-main">
       <aside>
        <div class="division-category">
             
            <p class="division">Subject</p>
           
        <a class="sidebarOpener">
            <p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
        </a>
        <a class="sidebarCloser">
            <p><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></p>
        </a>
        </div>
            <ul class="subject-lists">
                {{#each subjects}}
                <li class="subject-list"><a href="./{{this.token}}&subjectname={{this.subjectname}}">{{this.subjectname}}</a></li>
                {{/each}}
            </ul>
            

      </aside>
      <section>
          <div class="main-question-container">
                <div class="question-box">
               <!--------------------question container ko bhitrai real question content start----------------- -->
               
               {{#each questions}}
                <div class="questions" id="questions">
                    <div class="top-part">
                    <p class="recommend-text">Recommendate For You</p>
                    <div class="more-option">
                        <button class="option-anchor">
                         <div class="cir-1"></div>
                         <div class="cir-2"></div>
                         <div class="cir-3"></div>
                     </button>
                    <div class="for-all-option" id="closeMoreOption">                      
                        <div class="more-option-second-container">
                            {{#if this.usersAnswer}}
                        <a href="/deletepost{{this.motoken}}&q_id={{this._id}}" class="more-option-delete">delete</a>
                        <a href="#" class="more-option-edit">edit</a>
                        
                        {{else}}
                           <a href="#" class="more-option-report">report</a>
                        {{/if}}
                    </div>
                    </div>
                     </div>
                    </div>
                    <h1 class="question-text">{{this.title}} <a href="#" class="question-more-tag"></a></h1>
                    
                    {{!-- <div class="question-image">
                        <img src="../image/html/{3AA6A9A0-1738-4A0E-A8D3-E232218068D1}.png.jpg" alt="fsdfds" >

                    </div> --}}
               
                    
                    <div class="small-detail">
                        <p>Answered, Aug-4,2020</p>
                        <div class="tags">
                            <a href="#" class="first-tag">Java</a>
                            <a href="#" class="second-tag">Programmin</a>
                        </div>
                    </div>
                    <div class="answer-btn-container">
                        {{#if this.isAnswer}}
                    <a href="../../viewAnswer/{{this.motoken}}&id={{this._id}}" class="answer-btn" style="text-align: center;">VIEW ANSWER</a>
                   {{else}}
                     
                    <a href="../../viewAnswer/{{this.motoken}}&id={{this._id}}" class="answer-btn" style="text-align: center;">NOT ANSWER YET</a>
                   {{/if}}
                </div>
                </div>{{/each}}
                
             
               <!--------------------question container ko bhitrai real question content end----------------- -->

              
          
                </div>
               
    <!--------------------question content ko parent jun ko bhitra recommendation quesiton ko box hunx----------------- -->

            </div>
      </section>
                  <!---------------------------notification-section start--------------------- -->

  </main>
    <!--------------------------main-section-end------------------------------->
    
    <!---------------------------javascript code--------------------- -->
  

<script src="/js/navExplore/subject/index.js"></script>

<script src="/js/shared.js"></script>
  
</body>
</html>